body {
  width: 500px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 15px;
  -webkit-box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.26);
  box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.26);
  font-family: 'Roboto', sans-serif;
}

/* typography */
.text-light {
  color: #888888;
}

.text-highlight {
  font-weight: bold;
  color: black;
}

.header {
  margin: 0 auto;
  width: 500px;
}

.input-action {
  display: flex;
  justify-content: space-between;
  background-color: Gainsboro;
  border-radius: 10px;
  padding: 10px 15px;
}

.input-action:hover {
  background-color: DarkGray;
}

/* icons */

.input-icon,
.input-add {
  width: 30px;
  height: 30px;
  object-fit: contain;
  align-self: center;
}

.double-tick {
  width: 20px;
  height: 20px;
  object-fit: contain;
  align-self: center;
}

.delete-btn {
  width: 15px;
  height: 15px;
  object-fit: contain;
  align-self: center;
  border: 1px solid #303030;
  border-radius: 50%;
  padding: 3px;
  margin-left: auto;
}

.btn-light {
  border: 1px solid whitesmoke;
}

/* hide the add button */
/* .input-add:disabled{
    
} */

.double-tick {
  padding-right: 6px;
}

.add-task {
  width: 380px;
  height: 30px;
  border: none;
  background-color: Gainsboro;
}

.add-task:hover {
  background-color: DarkGray;
}

.actions {
  display: flex;
  padding: 10px 15px;
}

.action-btns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* .action-btns:hover,
.action-btns:active {
  color: #383838;
} */

/* list styling */
li {
  list-style-type: none;
}

ul {
  padding: 0;
}

.incomplete,
.completed {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
}

.task {
  display: flex;
  padding: 10px 10px 10px 5px;
  margin: 0;
  font-size: 20px;
  gap: 8px;
}

.task-complete {
  background: #b0adad;
  color: rgb(227, 224, 224);
  border-radius: 5px;
  margin-bottom: 5px;
  font-weight: bold;
  accent-color: #110ca8;
}

.footer {
  display: flex;
  padding: 5px 23px;
}

.status {
  margin-left: auto;
}

.task-status {
  display: flex;
  gap: 15px;
}

.task-counter {
  align-self: center;
}

.border-bottom {
  border-bottom: 1px solid #989898;
}

.delete {
  width: 15px;
  height: 15px;
  display: inline-block;
  border: 2px solid red;
  margin: 0 5px 0 auto;
  border: 1px solid #303030;
  border-radius: 50%;
  padding: 3px;
}
