body{
    width: 500px;
    margin: 0 auto;
    border: 1px solid blue;
    border-radius: 10px;
    padding: 15px;

    
}
.header{
    /* background-color: red; */
    margin: 0 auto;
    width: 500px;
}

.input{
    display: flex;
    justify-content: space-between;
}

#input_icon,
#input_add{ 
    width: 30px;
    height: 30px;
    object-fit: contain;
}

input{
    width: 380px;
    height: 30px;
}